The pivot table is a powerful tool to summarize and present data. Pandas has a function which allows you to quickly convert a DataFrame to a pivot table - 
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot_table.html

This function is very useful but sometimes it can be tricky to remember how to use it to get the data formatted in a way you need.

This notebook will walk through how to use the pivot_table.

The full blog post for this article is here - http://pbpython.com/pandas-pivot-table-explained.html

# Read in the data

In [3]:
import pandas as pd
import numpy as np

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (1.2.0)

x붙은파일 못불러들일때 xlrd다운로드

Read in our sales funnel data into our DataFrame

* 컬럼이 오브젝트면 colunm.str , 컬럼이 카테고리면 columnm.cat 하면 쓸수있는매소드나옴

In [10]:
df = pd.read_excel(r"C:\Users\USER\Downloads\salesfunnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

For convenience sake, let's define the status column as a category and set the order we want to view.

This isn't strictly required but helps us keep the order we want as we work through analyzing the data.

In [13]:
df.info()
t=df.Rep.str

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
Account     17 non-null int64
Name        17 non-null object
Rep         17 non-null object
Manager     17 non-null object
Product     17 non-null object
Quantity    17 non-null int64
Price       17 non-null int64
Status      17 non-null object
dtypes: int64(3), object(5)
memory usage: 1.1+ KB

In [14]:
t

In [3]:
df["Status"] = df["Status"].astype("category")
df["Status"].cat.set_categories(["won","pending","presented","declined"],inplace=True)

# Pivot the data

As we build up the pivot table, I think it's easiest to take it one step at a time. Add items one at a time and check each step to verify you are getting the results you expect.

The simplest pivot table must have a dataframe and an index. In this case, let's use the Name as our index.

In [4]:
pd.pivot_table(df,index=["Name"])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

You can have multiple indexes as well. In fact, most of the pivot_table args can take multiple values via a list.

In [5]:
pd.pivot_table(df,index=["Name","Rep","Manager"])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

This is interesting but not particularly useful. What we probably want to do is look at this by Manager and Director.
It's easy enough to do by changing the index.

In [6]:
pd.pivot_table(df,index=["Manager","Rep"])

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

You can see that the pivot table is smart enough to start aggregating the data and summarizing it by grouping the reps with their managers. Now we start to get a glimpse of what a pivot table can do for us.

For this purpose, the Account and Quantity columns aren't really useful. Let's remove it by explicitly defining the columns we care about using the values field.

In [7]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"])

                             Price
Manager       Rep
Debra Henley  Craig Booker   20000
              Daniel Hilton  38333
              John Smith     20000
Fred Anderson Cedric Moss    27500
              Wendy Yule     44250

The price column automatically averages the data but we can do a count or a sum. Adding them is simple using aggfunc.

In [8]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

aggfunc can take a list of functions. Let's try a mean using the numpy functions and len to get a count.

In [9]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],aggfunc=[np.mean,len])

                              mean   len
                             Price Price
Manager       Rep
Debra Henley  Craig Booker   20000     4
              Daniel Hilton  38333     3
              John Smith     20000     2
Fred Anderson Cedric Moss    27500     4
              Wendy Yule     44250     4

If we want to see sales broken down by the products, the columns variable allows us to define one or more columns.

In [10]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],
               columns=["Product"],aggfunc=[np.sum])

                                sum
                              Price
Product                         CPU Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker    65000        5000     NaN    10000
              Daniel Hilton  105000         NaN     NaN    10000
              John Smith      35000        5000     NaN      NaN
Fred Anderson Cedric Moss     95000        5000     NaN    10000
              Wendy Yule     165000        7000    5000      NaN

The NaN's are a bit distracting. If we want to remove them, we could use fill_value to set them to 0.

In [11]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

                                sum
                              Price
Product                         CPU Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker    65000        5000       0    10000
              Daniel Hilton  105000           0       0    10000
              John Smith      35000        5000       0        0
Fred Anderson Cedric Moss     95000        5000       0    10000
              Wendy Yule     165000        7000    5000        0

I think it would be useful to add the quantity as well. Add Quantity to the values list.

In [12]:
pd.pivot_table(df,index=["Manager","Rep"],values=["Price","Quantity"],
               columns=["Product"],aggfunc=[np.sum],fill_value=0)

                                sum                                        \
                              Price                              Quantity
Product                         CPU Maintenance Monitor Software      CPU
Manager       Rep
Debra Henley  Craig Booker    65000        5000       0    10000        2
              Daniel Hilton  105000           0       0    10000        4
              John Smith      35000        5000       0        0        1
Fred Anderson Cedric Moss     95000        5000       0    10000        3
              Wendy Yule     165000        7000    5000        0        7



Product                     Maintenance Monitor Software
Manager       Rep
Debra Henley  Craig Booker            2       0        1
              Daniel Hilton           0       0        1
              John Smith              2       0        0
Fred Anderson Cedric Moss             1       0        1
              Wendy Yule              3       2        0

What's interesting is that you can move items to the index to get a different visual representation. We can add the Products to the index.

In [13]:
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],aggfunc=[np.sum],fill_value=0)

                                            sum
                                          Price Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2
                            Maintenance    5000        2
                            Software      10000        1
              Daniel Hilton CPU          105000        4
                            Software      10000        1
              John Smith    CPU           35000        1
                            Maintenance    5000        2
Fred Anderson Cedric Moss   CPU           95000        3
                            Maintenance    5000        1
                            Software      10000        1
              Wendy Yule    CPU          165000        7
                            Maintenance    7000        3
                            Monitor        5000        2

For this data set, this representation makes more sense. Now, what if I want to see some totals? margins=True does that for us.

In [14]:
pd.pivot_table(df,index=["Manager","Rep","Product"],
               values=["Price","Quantity"],
               aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

Let's move the analysis up a level and look at our pipeline at the manager level. Notice how the status is ordered based on our earlier category definition.

In [15]:
pd.pivot_table(df,index=["Manager","Status"],values=["Price"],
               aggfunc=[np.sum],fill_value=0,margins=True)

                            sum
                          Price
Manager       Status
Debra Henley  won         65000
              pending     50000
              presented   50000
              declined    70000
Fred Anderson won        172000
              pending      5000
              presented   45000
              declined    65000
All                      522000

A really handy feature is the ability to pass a dictionary to the aggfunc so you can perform different functions on each of the values you select. This has a side-effect of making the labels a little cleaner.

In [16]:
pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
               aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)

                          Price                              Quantity  \
Product                     CPU Maintenance Monitor Software      CPU
Manager       Status
Debra Henley  won         65000           0       0        0        1
              pending     40000       10000       0        0        1
              presented   30000           0       0    20000        1
              declined    70000           0       0        0        2
Fred Anderson won        165000        7000       0        0        2
              pending         0        5000       0        0        0
              presented   30000           0    5000    10000        1
              declined    65000           0       0        0        1


Product                 Maintenance Monitor Software
Manager       Status
Debra Henley  won                 0       0        0
              pending             2       0        0
              presented           0       0        2
              declined            0       0        0
Fred Anderson won                 1       0        0
              pending             1       0        0
              presented           0       1        1
              declined            0       0        0

You can provide a list of aggfunctions to apply to each value too:

In [28]:
table = pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
               aggfunc={"Quantity":len,"Price":[np.sum,np.mean]},fill_value=0)
table

                         Price                                       \
                          mean                                  sum
Product                    CPU Maintenance Monitor Software     CPU
Manager       Status
Debra Henley  declined   35000           0       0        0   70000
              pending    40000        5000       0        0   40000
              presented  30000           0       0    10000   30000
              won        65000           0       0        0   65000
Fred Anderson declined   65000           0       0        0   65000
              pending        0        5000       0        0       0
              presented  30000           0    5000    10000   30000
              won        82500        7000       0        0  165000

                                                     Quantity              \
                                                          len
Product                 Maintenance Monitor Software      CPU Maintenance
Manager       Status
Debra Henley  declined            0       0        0        2           0
              pending         10000       0        0        1           2
              presented           0       0    20000        1           0
              won                 0       0        0        1           0
Fred Anderson declined            0       0        0        1           0
              pending          5000       0        0        0           1
              presented           0    5000    10000        1           0
              won              7000       0        0        2           1



Product                 Monitor Software
Manager       Status
Debra Henley  declined        0        0
              pending         0        0
              presented       0        2
              won             0        0
Fred Anderson declined        0        0
              pending         0        0
              presented       1        1
              won             0        0

It can look daunting to try to pull this all together at once but as soon as you start playing with the data and slowly add the items, you can get a feel for how it works.

# Advanced Pivot Table Filtering

Once you have generated your data, it is in a DataFrame so you can filter on it using your normal DataFrame functions.

In [32]:
table.query('Manager == ["Debra Henley"]') #query  특정값 뽑아옴 (필터-결과값이 트루폴수)

                        Price                                                  \
                         mean                                 sum
Product                   CPU Maintenance Monitor Software    CPU Maintenance
Manager      Status
Debra Henley declined   35000           0       0        0  70000           0
             pending    40000        5000       0        0  40000       10000
             presented  30000           0       0    10000  30000           0
             won        65000           0       0        0  65000           0

                                        Quantity
                                             len
Product                Monitor Software      CPU Maintenance Monitor Software
Manager      Status
Debra Henley declined        0        0        2           0       0        0
             pending         0        0        1           2       0        0
             presented       0    20000        1           0       0        2
             won             0        0        1           0       0        0

In [29]:
table.query('Status == ["pending","won"]')  #query는 문자열로 감싼다. expr = 표현식

                       Price                                                   \
                        mean                                  sum
Product                  CPU Maintenance Monitor Software     CPU Maintenance
Manager       Status
Debra Henley  pending  40000        5000       0        0   40000       10000
              won      65000           0       0        0   65000           0
Fred Anderson pending      0        5000       0        0       0        5000
              won      82500        7000       0        0  165000        7000

                                       Quantity
                                            len
Product               Monitor Software      CPU Maintenance Monitor Software
Manager       Status
Debra Henley  pending       0        0        1           2       0        0
              won           0        0        1           0       0        0
Fred Anderson pending       0        0        0           1       0        0
              won           0        0        2           1       0        0

I hope this tutorial has shown you how to use pivot tables on your data sets.

In [25]:
a=eval(input())    #표현식

1

사용자한테 입력받아서씀

In [1]:
!pip install qgrid

Requirement already satisfied: qgrid in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: pandas>=0.18.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (0.23.4)
Requirement already satisfied: notebook>=4.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (5.7.4)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (7.4.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (1.15.4)
Requirement already satisfied: jinja2 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.10)
Requirement already satisfied: Send2Trash in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: traitlets>=4.2.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.3.2)
Requirement already satisfied: prometheus-client in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.5.0)
Requirement already satisfied: pyzmq>=17 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (17.1.2)
Requirement already satisfied: nbformat in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.4.0)
Requirement already satisfied: nbconvert in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.4.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.8.1)
Requirement already satisfied: tornado>=4 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.1.1)
Requirement already satisfied: ipykernel in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.1.0)
Requirement already satisfied: ipython-genutils in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.2.0)
Requirement already satisfied: jupyter-client>=5.2.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.2.4)
Requirement already satisfied: jupyter-core>=4.4.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.4.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (3.4.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (7.2.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.18.0->qgrid) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2->notebook>=4.0.0->qgrid) (1.1.0)
Requirement already satisfied: decorator in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook>=4.0.0->qgrid) (4.3.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat->notebook>=4.0.0->qgrid) (2.6.0)
Requirement already satisfied: mistune>=0.8.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.8.4)
Requirement already satisfied: pygments in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (2.3.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: bleach in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (3.0.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (1.4.2)
Requirement already satisfied: testpath in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.4.2)
Requirement already satisfied: defusedxml in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.5.0)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (2.0.7)
Requirement already satisfied: backcall in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.1.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.13.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (40.6.3)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.0.0->qgrid) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.3.1)

In [2]:
import qgrid

In [2]:
dir(qgrid)

['QGridWidget',
 'QgridWidget',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_jupyter_nbextension_paths',
 '_version',
 'disable',
 'enable',
 'grid',
 'off',
 'on',
 'set_defaults',
 'set_grid_option',
 'show_grid',
 'version_info']

In [4]:
import seaborn as sns

In [5]:
tips=sns.load_dataset('tips')

In [6]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
t = qgrid.show_grid(tips)

In [9]:
t

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [2]:
!pip install qgrid
!jupyter nbextension enable --py --sys-prefix qgrid

Requirement already satisfied: qgrid in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (7.4.2)
Requirement already satisfied: pandas>=0.18.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (0.23.4)
Requirement already satisfied: notebook>=4.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from qgrid) (5.7.4)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (4.3.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (7.2.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (3.4.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (4.4.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->qgrid) (5.1.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.18.0->qgrid) (1.15.4)
Requirement already satisfied: pyzmq>=17 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (17.1.2)
Requirement already satisfied: jupyter-client>=5.2.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.2.4)
Requirement already satisfied: jinja2 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (2.10)
Requirement already satisfied: terminado>=0.8.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.8.1)
Requirement already satisfied: prometheus-client in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.5.0)
Requirement already satisfied: Send2Trash in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: ipython-genutils in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (0.2.0)
Requirement already satisfied: tornado>=4 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.1.1)
Requirement already satisfied: jupyter-core>=4.4.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (4.4.0)
Requirement already satisfied: nbconvert in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from notebook>=4.0.0->qgrid) (5.4.0)
Requirement already satisfied: six in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid) (1.12.0)
Requirement already satisfied: decorator in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid) (4.3.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (2.0.7)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.4.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (40.6.3)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.7.5)
Requirement already satisfied: backcall in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.13.2)
Requirement already satisfied: pygments in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (2.3.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->qgrid) (2.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2->notebook>=4.0.0->qgrid) (1.1.0)
Requirement already satisfied: mistune>=0.8.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: bleach in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (3.0.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (1.4.2)
Requirement already satisfied: testpath in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.4.2)
Requirement already satisfied: defusedxml in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook>=4.0.0->qgrid) (0.5.0)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.1.7)
Requirement already satisfied: parso>=0.3.0 in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->qgrid) (0.3.1)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\continuum\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.0.0->qgrid) (0.5.1)

Enabling notebook extension qgrid/extension...
      - Validating: ok

In [4]:
import qgrid

dir(qgrid)

import seaborn as sns

tips=sns.load_dataset('tips')

In [5]:
t = qgrid.show_grid(tips)

t

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [7]:
t

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…