In [2]:
a=75
if(a>=80):
    print('합격')
print('감사합니다')

감사합니다

In [5]:
a=85
if(a>=80):
    print('합격')
    print('점쉬{0}'.format(a))
print('감사합니다')

합격
점쉬85
감사합니다

In [7]:
a=55


if(a>=80):
    print('합격')
    print('점쉬{0}'.format(a))
else:
    print('불합격')
    print('점수:{}'.format(a))
print('감사합니다')

불합격
점수:55
감사합니다

In [10]:
a=65


if(a>=80):
    print('합격')
    print('점쉬{0}'.format(a))

elif(a>=60):
    print('점쉬{0}'.format(a))
    print('재시험')
    
else:
    print('불합격')
    print('점수:{}'.format(a))
print('감사합니다')

점쉬65
재시험
감사합니다

-a: 단항연산자

b+a;  이항연산자


res='합격' if(a>80) else '재시험' if (a>60) else '불합격'  : 삼항연산자

In [11]:
res='합격' if(a>80) else ('재시험' if (a>60) else '불합격')

In [12]:
res

'재시험'

In [14]:
res

'재시험'

In [15]:
for i in range(4):
    print(i)

0
1
2
3

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
k=0
for i in [3,2,5,3,7,6,7,1]:
    k+=i

print(k)

34

In [25]:
csum=0
i=1
while(i<101):
    csum+=i
    i+=1
print(csum)

5050

In [28]:
for i in range(3):
    a=int(input("첫번쨰숫자:"))
    b=int(input("두번쨰숫자:"))

    if a==0 and b==0:
        break
    print("{0}+{1}={2}".format(a,b,a+b))
print('종료')

첫번쨰숫자:1
두번쨰숫자:2
1+2=3
첫번쨰숫자:0
두번쨰숫자:0
종료

In [29]:
for i in range(3):
    a=int(input("첫번쨰숫자:"))
    b=int(input("두번쨰숫자:"))

    if a==0 and b==0:
        continue
    print("{0}+{1}={2}".format(a,b,a+b))
print('종료')

첫번쨰숫자:0
두번쨰숫자:0
첫번쨰숫자:2
두번쨰숫자:2
2+2=4
첫번쨰숫자:2
두번쨰숫자:2
2+2=4
종료

In [1]:
for i in range(3):
    a=int(input("첫번쨰숫자:"))
    for j in range(2):
        b=int(input("두번쨰숫자:"))
        if a==0 and b==0:
            continue
        print("{0}+{1}={2}".format(a,b,a+b))
print('종료')

첫번쨰숫자:1
두번쨰숫자:2
1+2=3
두번쨰숫자:3
1+3=4
첫번쨰숫자:0
두번쨰숫자:0
두번쨰숫자:0
첫번쨰숫자:0
두번쨰숫자:0
두번쨰숫자:0
종료

In [ ]:
for i in range(3):
    a=int(input("첫번쨰숫자:"))
    for j in range(2):
        b=int(input("두번쨰숫자:"))
        if a==0 and b==0:              #자기가속한 루프문만 break한다.
            break
        print("{0}+{1}={2}".format(a,b,a+b))
print('종료')

# 컨테이너 자료형

In [2]:
aa=(1,2,3,4)

In [3]:
bb=list(aa)

In [4]:
bb

[1, 2, 3, 4]

In [8]:
ww={2,3,4,5} #집합(set)도 이터러블 자료형

In [6]:
bb=list(ww)

In [7]:
bb

[2, 3, 4, 5]

In [19]:
aa=reversed(['q','e','r',',w'])

In [13]:
aa   #이터레이터 자료형은 넥스트로 하나씩뽑아줄수있다

In [18]:
next(aa)  #전부 뽑아쓰면 에러남

StopIteration:

In [31]:
w=iter(bb)

In [36]:
next(w)

StopIteration:

* mutable

In [43]:
a=24123
print(id(a))
a=1231
print(id(a))   #아이디값이바뀐다- 똑같이생겼지만 다른객체

1577157992624
1577157993136

In [49]:
a=12313
print(id(a))
a=22222
b=a
a=21312313
print(id(a),id(b))

lsobj=[3,2,5,6,4]
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))

1577157992720
1577157993072 1577157993104
id(a)=1577156547528,lsobj=[3, 2, 5, 6, 4]

In [57]:

lsobj=[3,2,5,6,4]
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))
lsobj[3]=32222
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))  #값은바뀌었지만 아이디는안바뀜
lsobj[1:3]=31222,3221
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))


lsobj[1:3]=[3221] # 1~3까지가 3221하나로 통합됌
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))

lsobj[1:3]=31222  #이터러블한자료로 덮어써야하는데 아니라서 오류남. 리스트형태로 넣어줘야됌
print('id(a)={},lsobj={}'.format(id(lsobj),lsobj))

id(a)=1577158026440,lsobj=[3, 2, 5, 6, 4]
id(a)=1577158026440,lsobj=[3, 2, 5, 32222, 4]
id(a)=1577158026440,lsobj=[3, 31222, 3221, 32222, 4]
id(a)=1577158026440,lsobj=[3, 3221, 32222, 4]

TypeError: can only assign an iterable

In [60]:
lsobj[1:3]='te'
lsobj  #문자열넣으면 한글자씩 쪼개서 대체해줌

[3, 't', 'e', 4]

In [61]:
lsobj[1:3]='kim'
lsobj  #2자리에 3개넣을라하면 2개자리에 3개넣어줌

[3, 'k', 'i', 'm', 4]

In [62]:
id(lsobj)

1577158026440

In [79]:
lso1=[1,2,3]
lso2=[9,8,1]

lso1+lso2 #더하기는 리스트연결해줌

[1, 2, 3, 9, 8, 1]

In [73]:
lso2*2  #곱하기는 반복

[9, 8, 1, 9, 8, 1]

In [80]:
lso1+=lso2
lso1

[1, 2, 3, 9, 8, 1]

In [78]:
del lso1[0]
lso1

[8, 1]

In [83]:
lso1[::-1] #순서뒤집기

[1, 8, 9, 3, 2, 1]

In [84]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [85]:
lso1.pop()

1

In [94]:
lso1.extend([123])  #이터러블만넣을수있음
lso1.append(1)      #그냥숫자써도됌

In [95]:
lso1

[1, 2, 3, 9, 8, 123, 123, 1, 123, 1]

In [98]:
lso1.pop()  #맨마지막원소 삭제하고 반환함

123

In [97]:
lso1

[1, 2, 3, 9, 8, 123, 123, 1, 123]

In [101]:
lso2.clear()

In [102]:
lso2

[]

In [107]:
a=[4,6,7,5,8]
b=a    #아예같은객체 (뷰)
c=a.copy() # 값은 같지만 다른객체(카피)
d=a[:]    #값은같지만 다른객체(카피)
print('id(a)={}, id(b)='.format(id(a),id(b)))
print('a={},b={}'.format(a,b))

a[2]=10000
print('id(a)={}, id(b)={}'.format(id(a),id(b)))
print('a={},b={}'.format(a,b))

id(a)=1577156548104, id(b)=
a=[4, 6, 7, 5, 8],b=[4, 6, 7, 5, 8]
id(a)=1577156548104, id(b)=1577156548104
a=[4, 6, 10000, 5, 8],b=[4, 6, 10000, 5, 8]

In [108]:
print('id(c)={}, id(d)={}'.format(id(c),id(d)))

id(c)=1577157958408, id(d)=1577157959240

In [110]:
A=[1,2,3,4,5]
A.reverse()
A

[5, 4, 3, 2, 1]

In [115]:
A.sort(reverse=True) #내림차순 정렬

In [122]:
B=[-10,-5,1,5,4]
B.sort(key=abs)  #절대값으로 오름차순정렬

In [121]:
B

[1, 4, -5, 5, -10]

In [125]:
q=['java','python','key','aaaaaaaaaaaa']
q.sort(key=len)

In [126]:
q

['key', 'java', 'python', 'aaaaaaaaaaaa']

In [131]:
a=([1,2,3,4],) #튜플안 리스트의 원소는 변경가능하다

In [132]:
type(a)

tuple

In [135]:
a[0][0]=123
a

([123, 2, 3, 4],)

In [136]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [141]:
print('list')
A=[3,4,5,]
B=[4,5,5,3,22]
print(id(A),A)
A+=B               #리스트같은경우는 자기자신에 덮어쓴다(아이디그대로)
print(id(A),A)    

print('tuple')

A=(3,4,5,)
B=(4,5,5,3,22)
print(id(A),A)
A+=B             #튜플같은경우는 새로 A 를만든다(더하기 전과 후가 아이디값이 다르다.)
print(id(A),A)

list
1577159602504 [3, 4, 5]
1577159602504 [3, 4, 5, 4, 5, 5, 3, 22]
tuple
1577159913760 (3, 4, 5)
1577186628888 (3, 4, 5, 4, 5, 5, 3, 22)

In [143]:
a='abcdefg'

'a'

In [145]:
a=[1,2,3,4]
b=(1,2,3,4)
c={a,b,34}  #뮤터블한자료(리스트 a)를 사용해서 에러남,, 이뮤터블만 원소로 넣어야한다.

TypeError: unhashable type: 'list'

In [154]:
A={1,2,3,4,5}
B={6,7,8,9,10}

C=A
D=B.copy()
C.add(9999)
D.add(9009)

print('id(A)={}, id(C)={},A={},C={}'.format(id(A),id(C),A,C))   #C바꾸면 A도바뀜
print('\n')


print('id(B)={}, id(D)={},B={},D={}'.format(id(B),id(D),B,D))   #D바꿔도 B안바뀜

id(A)=1577161431080, id(C)=1577161431080,A={1, 2, 3, 4, 5, 9999},C={1, 2, 3, 4, 5, 9999}


id(B)=1577158772328, id(D)=1577162511080,B={6, 7, 8, 9, 10},D={9009, 6, 7, 8, 9, 10}