### 사전(딕셔너리)

In [1]:
aa={1:'A',10:'cc'}

In [2]:
aa[1]

'A'

In [3]:
aa[13]=11

In [4]:
aa[13]

11

In [5]:
aa

{1: 'A', 10: 'cc', 13: 11}

In [7]:
aa[1],aa[13]

('A', 11)

In [8]:
type(aa)

dict

In [11]:
aa=dict()   #빈사전 만들기

In [12]:
aa=[(201975,45),(2021282,333),(201743,55)]  #[(키,값),(키:값)....]

In [13]:
type(aa)

list

In [16]:
dic=dict(aa)  #원소가 2개인 튜플을 원소로갖는 리스트를 딕트로만들면 앞에거를 키, 뒤에거를 값으로쓴다.

In [17]:
dic,dic[201975]

({201975: 45, 2021282: 333, 201743: 55}, 45)

In [18]:
bb=((201975,45),(2021282,333),(201743,55))

In [20]:
dict(bb)  #튜플도 가능

{201975: 45, 2021282: 333, 201743: 55}

In [24]:
s1=['a','b','c','d','e'] #zip
s2=[15,20,30,40,50]
s3=[1,2,3,4,5]
list(zip(s1,s2,s3))

[('a', 15, 1), ('b', 20, 2), ('c', 30, 3), ('d', 40, 4), ('e', 50, 5)]

In [26]:
dict(zip(s1,s2))  #zip이용해 두리스트로 딕셔너리 만들기

{'a': 15, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [35]:
aa={1:'one',10:'ten'}
bb={1:'one',10:'ten',1:'one'} # 1:'one'이 중복되므로 한개로본다.(그래서 aa==bb)
cc={1:'one',2:'two',10:'ten'} # 키가 같으면 덮어써진다. 키값은 중복되면안됌

In [36]:
aa==bb,aa==cc

(True, False)



사전은 뮤터블(키는 수정을 못하고 값만 수정가능하다)

키는 이뮤터블

값은 뮤터블

In [39]:
aa={'c++':5,'r':15,'python':10}

In [43]:
aa['python']=20

In [44]:
aa['python']

20

*이뮤터블의 경우

A=10

A=15  이렇게하면 두 A는 아이디값이 다르다(다른객체임)


뮤터블의경우 덮어씌워도 아이디값이 같게나옴

In [51]:
aa={'c++':5,'r':15,'python':10}

In [52]:
aa['python']=20

In [53]:
aa['python']
aa['java']=12  #없는걸로 입력하면 새로 원소추가

In [54]:
aa['java']

12

In [55]:
del aa['c++']  #원소삭제

In [56]:
aa

{'r': 15, 'python': 20, 'java': 12}

In [60]:
'r' in aa   #'키'가있는지 판단

True

In [62]:
sorted(aa)

['java', 'python', 'r']

In [63]:
aa.setdefault('sol')

In [64]:
aa

{'r': 15, 'python': 20, 'java': 12, 'sol': None}

In [66]:
aa.items()

dict_items([('r', 15), ('python', 20), ('java', 12), ('sol', None)])

In [68]:
aa.values()

dict_values([15, 20, 12, None])

In [69]:

dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [72]:
bb=aa
cc=aa.copy()
print(id(aa),id(bb),id(cc))

In [78]:
bb[20]='java123' #b를바꾸면 a도 수정된다

In [79]:
aa

{'r': 15, 'python': 20, 'java': 12, 'sol': None, 20: 'java123'}

In [86]:
qqq='python'
dic1=dict.fromkeys(qqq)  #문자열의 한글자 한글자를 키로하는 사전생성(초기값은 none)
dic1

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [87]:
dic1.values()

dict_values([None, None, None, None, None, None])

In [89]:
w=[1,2,3,0]
dic1=dict.fromkeys(w,10)  #문자열의 한글자 한글자를 키로하는 사전생성(초기값은 none)
dic1

{1: 10, 2: 10, 3: 10, 0: 10}

In [91]:
list(enumerate(w))

[(0, 1), (1, 2), (2, 3), (3, 0)]

In [93]:
aa

{'r': 15, 'python': 20, 'java': 12, 'sol': None, 20: 'java123'}

In [95]:
print(aa.get('r'),aa['r'])

15 15

In [99]:
aa.get('q','없는키')  #없는키써도 오류x, 옆에 뭐써주면 그거 반환해줌

'없는키'

In [110]:
aa.setdefault(44,11) #키가있으면 값 반환, 없으면 키추가, 추가할값 넣어줄수도잇음
aa

{'r': 15,
 'python': 20,
 'java': 12,
 'sol': None,
 20: 'java123',
 33: None,
 44: 11}

In [125]:
aa.setdefault(33,10)

10

In [126]:
res=aa.pop(33 )  # 33을 aa에서 제거하고 키값을 res에 할당

In [123]:
res

10

In [136]:
aa.setdefault(12,21)

21

(44, 11)

In [137]:
aa.setdefault(111,123)  
pit=aa.popitem()    #임의의 키,값 쌍을 튜플로 반환

In [133]:
pit

(111, 123)

In [138]:
bb={33:'java',22:'c',99:'v8',1:'python'}

In [141]:
aa.update(bb)  #aa에 bb를 추가함

In [140]:
aa

{'r': 15,
 'python': 20,
 'java': 12,
 'sol': None,
 20: 'java123',
 12: 21,
 33: 'java',
 22: 'c',
 99: 'v8',
 1: 'python'}

In [143]:
cc={'java':1,'python':7,'c#':2,'VB':10}

In [148]:
cc.update(C=16,fortran=17)  #원소추가

In [154]:
cc.items()   #(키,값) 튜플 리스트 반환

dict_items([('java', 1), ('python', 7), ('c#', 2), ('VB', 10), ('C', 16), ('fortran', 17)])

In [156]:
aa.values()  #값만 리스트로 돌려줌

dict_values([15, 20, 12, None, 'java123', 21, 'java', 'c', 'v8', 'python'])

In [167]:
a=['서울','경기','인천','세종']
dic={x:a[x] for x in range(4)}
bb=[22,53,1,49]
dic2={bb[x]:a[x] for x in range(4)}
dic1=dict(zip(bb,a))

In [163]:
a

['서울', '경기', '인천', '세종']

##  함수

In [174]:
def hello():
    print('함수의 정의')
print('함수예제')
hello()

함수예제
함수의 정의

In [171]:
hello()

함수의 정의

In [178]:
def hello2(x):
    print('함수의 정의')
    print('전달받은 인수:{}'.format(x))
    
hello2('qqq')

함수의 정의
전달받은 인수:qqq

In [180]:
def hello3(x=100):    # x=100으로 디폴트설정
    print('인자 디폴트={}'.format(x))

In [181]:
hello3()

인자 디폴트=100

def hello(*args):    임의의 갯수의 인자를받음  (받은인자를 튜플로처리)

def hello(**kwargs):  임의의 키워드 갯수 (a=10  이런식) 사전으로 묶어서 처리

In [182]:
def print_character(ch='*',a=2,b=5):
    for i in range(a):
        print(ch*b)

In [191]:
print_character('q1',5,10)        #순서 정확해야됌
print_character(ch='#',a=3,b=10)  #순서 바꿔도 상관없음

q1q1q1q1q1q1q1q1q1q1
q1q1q1q1q1q1q1q1q1q1
q1q1q1q1q1q1q1q1q1q1
q1q1q1q1q1q1q1q1q1q1
q1q1q1q1q1q1q1q1q1q1
##########
##########
##########

In [ ]:
print_character(#,b=10)   #섞어써도상관없다. b는 중간에 건너뛰어서 순서가안맞으므로 키워드방식으로 써야함

In [195]:
def calc(a=2,b=10,op='+'):
    if (op=='+'):
        c=a+b
    elif op == '-':
        c=a-b
    elif op=='*':
        c=a*b
    elif op=='/':
        c=a/b if b!=0 else 0
    
    else:
        print('연산기호 오류')
        
    return c

In [201]:
def calc(a=2,b=10,op='+'):
    if (op=='+'):
        c=a+b
    elif op == '-':
        c=a-b
    elif op=='*':
        c=a*b
    elif op=='/':
        c=a/b if b!=0 else 0
    
    else:
        print('연산기호 오류')
        return     #리턴은 이런식으로써서 강제종료할때도 사용함
        
    return c

In [199]:
calc(op='@')

연산기호 오류

In [211]:
def func(op,*args):
    v=args    #튜플형태로 저장, 몇번째인수를 가져다 쓸거면 인덱싱으로 사용한다.
    result=0
    if op=='+':
        for x in v:
            result+=x
    elif op=='-':
        for x in v:
            result-=x
    print(op,v)
    return result
func('-',1,2,4,1,2,3,4,5,6,7,5)

- (1, 2, 4, 1, 2, 3, 4, 5, 6, 7, 5)

-40

In [ ]:
calc(op,*args):
    v=args

In [213]:
def f(n):  #펙토리얼
    re=1
    for x in range(n+1):
        re*=x
    return re

def g(n,x):   #콤비네이션
    nf=f(n)
    xf=f(x)
    nxf=f(n-x)
    return nf/(xf*nfx)

* 전역변수 / 지역변수

In [217]:
a=100 #전역변수
def calc(x):   
    a=10  #지역변수
    print('지역변수:{}'.format(a))
calc(3)
print('전역변수:{}'.format(a))

지역변수:10
전역변수:100

In [219]:
a=100 #전역변수
def calc(x):   
    b=10  #지역변수
    print('지역변수:{}'.format(a))   #지역변수에 a가없으면 알아서 전역변수읽어옴
calc(3)
print('전역변수:{}'.format(a))

지역변수:100
전역변수:100

In [221]:
a=100 #전역변수
def calc(x):   
    global a    #전역변수 쓸거면 글로벌 선언해줘야함
    a=5000
    print('지역변수:{}'.format(a))
calc(3)
print('전역변수:{}'.format(a))

지역변수:5000
전역변수:5000

* 람다함수

In [225]:
q= lambda x,y: x+y    

#함수의 인수로 함수넣어야하는경우에 유용

In [224]:
q(4,5)

9

In [231]:
a=[1,2,3,4]
b=[2,3,1,2]
c=([1,2,3,4],[1,1,1,1])

In [233]:
list(map(q,*c)),list(map(q,a,b))

([2, 3, 4, 5], [3, 5, 4, 6])

In [242]:
x=[[2,3,4,5,1],[1,2,3,4,5],[6,5,4,3,2]]   #코드길이가 길다

n=len(x)                #4줄
result=[]
for i in range(n):
    result.append(sum(x[i]))

    
result

[15, 15, 20]

In [244]:
list(map(sum,x))   #한줄로끝남 (속도도 빠르다)

[15, 15, 20]

*docstring

In [245]:
def f(n):
    '''
    n! 계산함수               
    n은 0보다 큰 양의정수
    '''
    
    
    return n

In [247]:
help(f)     # 헬프돌리면 나오는 설명

Help on function f in module __main__:

f(n)
    n! 계산함수
    n은 0보다 큰 양의정수

## 모듈

In [248]:
import math

In [250]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [260]:
math.sqrt(3),math.factorial(5)

(1.7320508075688772, 120, 2.718281828459045)

In [271]:
from math import e,pi,factorial


del e,pi,factorial

In [272]:
del math

In [273]:
import math  # impor만 쓰는경우

pi,e   #이렇게하면안됨 math.pi , math.e  이런식으로 사용해야함

NameError: name 'pi' is not defined

In [269]:
from math import pi,e

pi,e  #from _ import  형식으로쓰면 바로 사용가능

(3.141592653589793, 2.718281828459045)

In [276]:
import math as mt

mt.sqrt(11)  #이름 짧게쓰려고

3.3166247903554

*모듈명 만들기

In [278]:
'''

모듈명 : 모듈만들기

'''

pi=3.141592653589793

def cic_area(r):
    return r**2

In [281]:
from mdd import pi

In [296]:
import mdd  #내가 만든 모듈

In [284]:
mdd.cic_area(2)

4

In [285]:
mdd.pi

3.141592653589793

In [288]:
import sys   #파이썬 위치확인하기

for i in sys.path :
    print(i)

C:\ProgramData\Anaconda3\envs\mp\python36.zip
C:\ProgramData\Anaconda3\envs\mp\DLLs
C:\ProgramData\Anaconda3\envs\mp\lib
C:\ProgramData\Anaconda3\envs\mp

C:\ProgramData\Anaconda3\envs\mp\lib\site-packages
C:\ProgramData\Anaconda3\envs\mp\lib\site-packages\IPython\extensions
C:\Users\Affinity\.ipython

In [291]:
print(sys.builtin_module_names)   #표준모듈 목록

('_ast', '_bisect', '_blake2', '_codecs', '_codecs_cn', '_codecs_hk', '_codecs_iso2022', '_codecs_jp', '_codecs_kr', '_codecs_tw', '_collections', '_csv', '_datetime', '_functools', '_heapq', '_imp', '_io', '_json', '_locale', '_lsprof', '_md5', '_multibytecodec', '_opcode', '_operator', '_pickle', '_random', '_sha1', '_sha256', '_sha3', '_sha512', '_signal', '_sre', '_stat', '_string', '_struct', '_symtable', '_thread', '_tracemalloc', '_warnings', '_weakref', '_winapi', 'array', 'atexit', 'audioop', 'binascii', 'builtins', 'cmath', 'errno', 'faulthandler', 'gc', 'itertools', 'marshal', 'math', 'mmap', 'msvcrt', 'nt', 'parser', 'sys', 'time', 'winreg', 'xxsubtype', 'zipimport', 'zlib')

In [294]:
from keyword import kwlist

In [295]:
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [300]:
import random
random.randint(0,10)  #0~10 사이에 랜덤한정수

6

In [312]:
x=[]
for i in range(6):
    x.append(random.randint(1,45))

In [313]:
x

[45, 11, 36, 22, 36, 39]

In [314]:
x=[]
for i in range(6):
    x.append(random.randrange(1,100,4))

In [316]:
x

[93, 73, 81, 53, 9, 21]

In [319]:
x=[]
for i in range(6):
    x.append(random.uniform(-10,10))   #uniform=실수

In [318]:
x

[-2.5984854023162285,
 1.1590615775406814,
 -8.688513029524243,
 5.763008747267744,
 -1.9896311930360095,
 -4.5685704683685575]

In [323]:
str='abcdefghijklmn'
random.choice(str)   #표본추출

'e'

In [331]:
x=list(range(1,46))

for i in range(6):
    
    print(random.choice(x))  #복원추출(중복가능)

10
13
38
1
6
36

In [335]:
x=list(range(1,46))

for i in range(5):
    
    print(random.sample(x,6))  #비복원추출(중복 불가능)

[8, 20, 13, 42, 2, 32]
[26, 8, 32, 25, 6, 24]
[28, 41, 27, 19, 34, 8]
[16, 6, 3, 42, 20, 44]
[17, 20, 39, 14, 41, 30]

In [337]:
random.shuffle(x)
print(x)

[35, 15, 43, 20, 42, 31, 1, 21, 28, 44, 23, 41, 38, 4, 32, 18, 14, 13, 16, 33, 27, 6, 8, 39, 40, 5, 11, 10, 3, 30, 22, 19, 29, 12, 17, 9, 26, 37, 25, 45, 36, 7, 2, 34, 24]

In [343]:
import itertools
for x in itertools.count(50,100):    # 1부터 2씩증가하는 수를 무한히만듬(break 걸어줘야함)
    print(x)
    if x>1000:
        break

50
150
250
350
450
550
650
750
850
950
1050

In [347]:
ls=[3,0,6,7,1,6,5,7,8,9]
def f(x):
    return x<7
for x in itertools.dropwhile(f,ls):# 함수값이 처음 false인값부터 반환
    print(x,end='\t')

    
for x in itertools.dropwhile(lambda x: x<7,ls):
    print(x)

7	1	6	5	7	8	9	7
1
6
5
7
8
9

In [349]:

for x in itertools.takewhile(lambda x: x<7,ls):  #트루인값만 리턴
    print(x)

3
0
6

In [352]:
ls=[1,1,2,2,2,2,3,3,3,3,4,4,4,4]
x=itertools.groupby(ls)

for v,k in x:
    print(v, list(k))

1 [1, 1]
2 [2, 2, 2, 2]
3 [3, 3, 3, 3]
4 [4, 4, 4, 4]

In [354]:
ls={'공기','책상','책장','배움','백상예술대상','책걸상'}

d={}

for word in sorted(ls):   #문자열 첫글자기준 오름차순정렬
    if word[0] in d:
        d[word[0]].append(word)
    else:
        d[word[0]]=[]
        d[word[0]].append(word)
        
        
for k in d.keys():   
    d[k].sort()

for k,v in d.items():
    print(k,v)

공 ['공기']
배 ['배움']
백 ['백상예술대상']
책 ['책걸상', '책상', '책장']

In [355]:
import k

In [356]:
import calendar

In [359]:
print(calendar.calendar(2020,6))

                                                                            2020

                    January                                               February                                               March
 Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun
                 1      2      3      4      5                                              1      2                                                     1
   6      7      8      9     10     11     12           3      4      5      6      7      8      9           2      3      4      5      6      7      8
  13     14     15     16     17     18     19          10     11     12     13     14     15     16           9     10     11     12     13     14     15
  20     21     22     23     24     25     26          17     18     19     20     21     22     23          16     17     18     19     20     21     22
  27     28     29     30     31                        24     25     26     27     28     29                 23     24     25     26     27     28     29
                                                                                                              30     31

                     April                                                  May                                                   June
 Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun
                 1      2      3      4      5                                       1      2      3           1      2      3      4      5      6      7
   6      7      8      9     10     11     12           4      5      6      7      8      9     10           8      9     10     11     12     13     14
  13     14     15     16     17     18     19          11     12     13     14     15     16     17          15     16     17     18     19     20     21
  20     21     22     23     24     25     26          18     19     20     21     22     23     24          22     23     24     25     26     27     28
  27     28     29     30                               25     26     27     28     29     30     31          29     30

                      July                                                 August                                              September
 Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun
                 1      2      3      4      5                                              1      2                  1      2      3      4      5      6
   6      7      8      9     10     11     12           3      4      5      6      7      8      9           7      8      9     10     11     12     13
  13     14     15     16     17     18     19          10     11     12     13     14     15     16          14     15     16     17     18     19     20
  20     21     22     23     24     25     26          17     18     19     20     21     22     23          21     22     23     24     25     26     27
  27     28     29     30     31                        24     25     26     27     28     29     30          28     29     30
                                                        31

                    October                                               November                                              December
 Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun         Mon    Tue    Wed    Thu    Fri    Sat    Sun
                        1      2      3      4                                                     1                  1      2      3      4      5      6
   5      6      7      8      9     10     11           2      3      4      5      6      7      8           7      8      9     10     11     12     13
  12     13     14     15     16     17     18           9     10     11     12     13     14     15          14     15     16     17     18     19     20
  19     20     21     22     23     24     25          16     17     18     19     20     21     22          21     22     23     24     25     26     27
  26     27     28     29     30     31                 23     24     25     26     27     28     29          28     29     30     31
                                                        30

In [360]:
data=open('data_space.txt')

In [363]:
data.read()

      필드    이름   성별   나이  
  
 레코드      이진호  남자    30
(케이스)

In [431]:
fobj=open('data_space.txt')
robj=fobj.readline()
print(robj)

height weight

In [419]:
data=robj.split()   #공백기준으로 잘라서 리스트로 저장

In [420]:
print(data)

['height', 'weight', '174.10', '71.85', '171.17', '65.46', '175.73', '72.29', '178.83', '72.49', '178.60', '73.38', '180.20', '75.40', '168.45', '66.62', '174.30', '70.84', '178.29', '72.12', '171.74', '69.66']

In [378]:
robj.split()[1:4]

['weight', '174.10', '71.85']

In [411]:
Height=[]
weight=[]
for i in range(2,len(robj.split()),2):
    Height.append(float(robj.split()[i]))
    weight.append(float(robj.split()[i+1]))

In [412]:
Height

[174.1, 171.17, 175.73, 178.83, 178.6, 180.2, 168.45, 174.3, 178.29, 171.74]

In [413]:
weight

[71.85, 65.46, 72.29, 72.49, 73.38, 75.4, 66.62, 70.84, 72.12, 69.66]

In [414]:
sum(Height)/len(Height)

175.14100000000002

In [422]:
print(fobj.readline())

In [423]:
robj=fobj.readline()

In [433]:
while robj:
    print(robj,end='')
    robj=fobj.readline()
fobj.close()

In [443]:
fobj=open('data_space.txt')

In [444]:
robj2=fobj.readlines()   #한줄씩 리스트로 저장

In [445]:
robj2

['height weight\n',
 '174.10 71.85\n',
 '171.17 65.46\n',
 '175.73 72.29\n',
 '178.83 72.49\n',
 '178.60 73.38\n',
 '180.20 75.40\n',
 '168.45 66.62\n',
 '174.30 70.84\n',
 '178.29 72.12\n',
 '171.74 69.66\n']

In [449]:
#파일쓰기

fobj=open('writefile.txt','w')
fobj.write('안녕하세요 파이썬을 배워봐요\n')
fobj.close()

In [450]:
qqq=open('data_space.txt','a')  #a 모드는 뒤에 이어서기록

In [453]:
qqq=open('writefile.txt','a')
qqq.write('새로추가가가가가')
qqq.close()

In [456]:
www=open('grade.txt','w')    #입력받아서 파일로
for count in range(5):
    point=input('점수입력하세요')
    www.write(point)
    www.write('\n')
www.close()

점수입력하세요11
점수입력하세요12
점수입력하세요13
점수입력하세요14
점수입력하세요15